body {
    margin: 0%;
    padding: 0px;
    background: white
}

@media (max-width: 767px) {
    body {
        margin: 0%;
        padding: 0px;
        background: white
    }
}

/* Head */

.header{
    background-color: rgb(76, 69, 69);
    height: 80px;
    width: 100%;
}

.btn_movil {
    display: none;
}

/* Estilos para dispositivos móviles header 3 lineas*/
@media (max-width: 767px) {
    .btn_movil {
      display: flex;
      flex-direction: column;
      width: 3rem;
      height: 3rem;
      border: 0;
      background: transparent;
      gap: .65rem;
      margin-top: 4%;
      margin-left: 70%;
    }
}

@media (max-width: 767px) {
    .btn_movil > div {
        background: black;
        height: 2px;
        width: 100%;
        border-radius: 5px;
        transition: all .5s;
        transform-origin: left;
    }
}

@media (max-width: 767px) {
    .btn_movil:hover div:first-child{
        transform: rotate(45deg);
    }
}

@media (max-width: 767px) {
    .btn_movil:hover div:nth-child(2){
        opacity: 0;
    }
}

@media (max-width: 767px) {
    .btn_movil:hover div:last-child{
        transform: rotate(-45deg);
    }
}

@media (max-width: 767px) {
    .list.visible {
        position: absolute;
        display: block;
        background-color: #EFEFEF;
        margin-top: 16%;
        width: 100%;
        height: auto;
        font-size: 20px;
    }
}

@media (max-width: 767px) {
    nav, li {
        color: black;
    }
}

/* Estilos para pc header ul no visible */
@media (max-width: 767px) {
    .list {
      display: none;
    }
}

@media (min-width: 768px) {
    .list {
        display: flex;
        justify-content: space-evenly;
        margin: auto;
        text-decoration: none;
    }
}

a {
    margin-top: 22px;
    color: white;
    text-decoration: none;
    list-style: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* body pag h1 & Img con div = card*/

h1 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 50px;
    text-align: center;
    margin-top: 10px;
}

.pic, img {
    display: flex;
    justify-content: center;
}

#NeoDau, img {
    width: 250px;
    height: 350px;
    border-radius: 15px;
}

.card img {
    /*width: 25%;*/
    margin: 20px;
    margin-top: 10px;
    box-shadow: 5px 5px 20px rgba(169, 151, 237, 0.5);
    padding: 15px;
}

/* Sobre mi */

.cts {
    text-align: center;
}

h2 {
    font-family: 'Courier New', Courier, monospace;
    margin-left: 20px;
    margin-top: 70px;
    font-size: 30px;
    text-align: center;
}

.box{
    display: flex;
    justify-content: center;
}

#btnMostrarOcultaruno {
    width: 120px;
    height: 40px;
    background-color: rgb(76, 69, 69);
    color: white;
    border: none;
    border-radius: 15px;
    text-align: center;
    cursor: pointer;
}

/*btn movil*/
@media (max-width: 767px) {
    #btnMostrarOcultaruno {
        width: 60%;
        /*height: 40px;*/
        background-color: rgb(76, 69, 69);
        color: white;
        border: none;
        border-radius: 15px;
        text-align: center;
        cursor: pointer;
    }
}

.col_uno {
    background-color: #EFEFEF;
    width: 50%;
    box-shadow: 5px 5px 20px rgba(169, 151, 237, 0.5);
    padding: 15px;
    margin: 20px;
    display: none;
    border-radius: 15px;
}

/* movil */
@media (max-width: 767px) {
    .col_uno{
        height: 350px;
        background-color: #EFEFEF;
        width: 70%;
        box-shadow: 5px 5px 20px rgba(169, 151, 237, 0.5);
        padding: 15px;
        margin: 20px;
        display: none;
        border-radius: 15px;
        overflow: auto;
    }
}

/* btn + contenido 2 */

#btnMostrarOcultarDos {
    width: 120px;
    height: 40px;
    background-color: rgb(76, 69, 69);
    color: white;
    border: none;
    border-radius: 15px;
    cursor: pointer;

}
/* btn2 movil*/
@media (max-width: 767px) {
    #btnMostrarOcultarDos {
        width: 60%;
        /*height: 40px;*/
        background-color: rgb(76, 69, 69);
        color: white;
        border: none;
        border-radius: 15px;
        cursor: pointer;
    
    }
}

.col_dos{
    background-color: #EFEFEF;
    width: 50%;
    box-shadow: 5px 5px 20px rgba(169, 151, 237, 0.5);
    padding: 15px;
    margin: 20px;
    align-items: flex-end;
    display: none;
    border-radius: 15px;
}

/*Movil*/
@media (max-width: 767px) {
    .col_dos{
        background-color: #EFEFEF;
        width: 70%;
        box-shadow: 5px 5px 20px rgba(169, 151, 237, 0.5);
        padding: 15px;
        margin: 20px;
        align-items: flex-end;
        display: none;
        border-radius: 15px;
    }    
}

.col_dos h4 {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

.col_dos img {
    height: 25px;
    width: 25px;
}

.col_dos .row_img {
    display: flex;
    justify-content: space-evenly;
}

.col_dos .row_img2 {
    display: flex;
    justify-content: space-evenly;
    margin-top: 35px;
}

.col_dos .row_img3 {
    display: flex;
    justify-content: space-evenly;
    margin-top: 35px;
}

/* Carrusel movil */
@media (max-width: 767px) {
    .carousel-inner {
        position: relative;
        overflow: hidden;
        width: 50%;
        margin-left: 30%;
    }
}

/* Carrusel PC */
@media (min-width: 768px) {
    .carousel-inner {
        position: relative;
        overflow: hidden;
        width: 50%;
        margin-left: 45%;
    }
}

.carousel-control-prev {
    color: black;
}

#img_carrusel, img {
    width: auto;
    height: 50px;
    display: flex;
    justify-content: center;
}

.owl-nav {
    font-size: 50px;
    display: flex;
    justify-content: space-evenly;
}
.item {
    height: 45px;
    width: 45px;
}

/*btn + contenido 3 */

#btnMostrarOcultarTres {
    width: 120px;
    height: 40px;
    background-color: rgb(76, 69, 69);
    color: white;
    border: none;
    border-radius: 15px;
    cursor: pointer;

}

@media (max-width: 767px) {
    #btnMostrarOcultarTres {
        width: 60%;
        /*height: 40px;*/
        background-color: rgb(76, 69, 69);
        color: white;
        border: none;
        border-radius: 15px;
        cursor: pointer;
    }
}

.col_tres{
    background-color: #EFEFEF;
    width: 50%;
    height: auto;
    box-shadow: 5px 5px 20px rgba(169, 151, 237, 0.5);
    padding: 15px;
    margin: 20px;
    display: none;
    border-radius: 15px;
}

/*Movil*/
@media (max-width: 767px) {
    .col_tres{
        background-color: #EFEFEF;
        width: 70%;
        height: auto;
        box-shadow: 5px 5px 20px rgba(169, 151, 237, 0.5);
        padding: 15px;
        margin: 20px;
        display: none;
        border-radius: 15px;
    }   
}

.left {
    display: grid;
    justify-content: center;
}

.left h4 {
    font-family: 'Courier New', Courier, monospace;
}

.left p {
    margin-top: -10px;
    text-align: center;
}

.left a {
    color: black;
}

.right {
    display: grid;
    justify-content: center;
    margin-top: auto;
}

.right h4 {
    font-family: 'Courier New', Courier, monospace;
}

.right p {
    margin-top: -10px;
    text-align: center;
}

.right a {
    color: black;
}

/* Cotacto */

/* Estilos para el contenedor */
.contenedor {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    box-shadow: 5px 5px 20px rgba(169, 151, 237, 0.5);
}

/* Estilos para las columnas */
.contact_col, .form_col {
    width: 80%;
    max-width: 400px;
    padding: 20px;
    box-sizing: border-box;
}

.red {
    text-align: center;
}
  
/* Estilos para PC */
@media (min-width: 768px) {
    .contact_col, .form_col {
      width: 48%;
      margin: 1%;
    }
}

@media (min-width: 768px) {
    #mensaje{
        width: 310px;
    }
}
  
/* Estilos para dispositivos móviles */
@media (max-width: 767px) {
    .contact_col {
      width: 100%;
      margin: 1%;
    }
}

@media (max-width: 767px) {
    #mensaje{
        width: 95%;
    }
}

#formularioContacto {
    box-shadow: 5px 5px 20px rgba(169, 151, 237, 0.5);
    padding: 15px;
    width: 100%;
    border-radius: 15px;
}

/* Redes logos */

/* Movil */
@media (max-width: 767px) {
    .logos {
        display: flex;
        justify-content: space-around;
        color: black;
        margin-top: 15%;
    }
}

/* PC */

.logos {
    display: flex;
    justify-content: space-around;
    color: black;
}

.fab {
    background-color: rgb(76, 69, 69);
    border-radius: 500px;
    width: 35px;
    height: 35px;
    text-align: center;
}

.fa-github:before, .fa-twitter:before, .fa-linkedin:before {
    line-height: 2;
}

.cv {
    text-align: center;
}

h4 {
    font-family: 'Courier New', Courier, monospace;
}

.btn_cv {
    align-items: center;
    background-color: rgb(76, 69, 69);
    color: white;
    height: 40px;
    width: 120px;
    border-radius: 15px;
    border: none;
    cursor: pointer;
}

/* btn_cv movil */
@media (max-width: 767px) {
    .btn_cv {
        align-items: center;
        background-color: rgb(76, 69, 69);
        color: white;
        /*height: 40px;*/
        width: 60%;
        border-radius: 15px;
        border: none;
        cursor: pointer;
    }
}

/* Formulario campos */

#formularioContacto, input {
    width: 97%;
}

#boton {
    background-color: rgb(76, 69, 69);
    color: white;
    height: 30px;
    width: 30%;
    border-radius: 15px;
    border: none;
    cursor: pointer;
}

@media (max-width: 767px) {
    #boton {
        background-color: rgb(76, 69, 69);
        color: white;
        /*height: 30px;*/
        width: 40%;
        border-radius: 15px;
        border: none;
        cursor: pointer;
    }
}

#curved {
    position: static;
    background: #EFEFEF;
    height: auto;
    border-bottom-left-radius: 50% 10%;
    border-bottom-right-radius: 50% 10%;
    box-shadow: 5px 5px 20px rgba(169, 151, 237, 0.5);
    margin-top: 2%;
}

/* Footer */
.footer {
    background-color: rgb(76, 69, 69);
    height: 80px;
    width: 100%;
}